body {
    overflow:scroll; 
    margin: 0;
    font-family: "Lato", sans-serif;
    color:aliceblue; 
    text-align: center;
    font-weight: 100;
    background-image: url("../static/cool-background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 500px;
}
  
.block {
    justify-content: center;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

#item {
    display:block;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Lato', serif;
    font-weight: lighter;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    text-shadow: 1px 1px #ff58c4;
}

.title {
    text-shadow: 3px 3px #ff58c4, -1px -1px #58b1ff;
}


#highlight {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: -1;
    background-color: #ff58c4;
    opacity: 75%;
    height: 100px; 
    transition: width 0.5s;
    width: 0vh;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}


#highlight1 {
    display: block;
    margin-left:auto;
    margin-right: auto;
    position:absolute;
    z-index: -1;
    background-color: #58b1ff;
    opacity: 75%;
    height: 50px; 
    transition: width 0.5s;
    width: 0vh;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

#item:hover #highlight{
    /* hardcoded */
    width: 885px; 
}
#item:hover #highlight1{
    /* hardcoded */
    width: 885px; 
}

.header {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    color: white;
}

.card {
    background-color: rgba(255, 255, 255, 0.6);
}

button.button {
    border-radius: 30px;
    background-color: rgba(178, 234, 255, 0.6);
    border: lightblue solid 2px;
}

.topnav {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-align: center;
    list-style: none;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: auto;
    color: black;
    border: white solid 2px;
    background-color: rgba(178, 234, 255, 0.6);
}

.topnav a {
    float: right;
    color: #fcf6f8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 300ms ease;
    font-family: "Lato", sans-serif;
    margin: 0;
    letter-spacing: 3px;
}

.topnav input {
    background: none;
    border: none;
    float: right;
    color: #fcf6f8;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    transition: 300ms ease;
    font-family: "Lato", sans-serif;
    margin: 0;
    letter-spacing: 3px;
    text-shadow: 1px 1px #ff58c4;
}

.topnav input:hover {
    color: white;
    border-radius: 30px;
    border: white solid 2px;
}

.btn {
    float: left;
    display: inline-block;
    border: none;
    color: white;
    padding: 14px 16px;
    font-size: 17px;
}

#logo1 {
    position: absolute; left: 0px; 
    float: left;
    top: 0px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.row {
    padding: 0 25px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;
    height: 300px;
}

div {
    background-color: none;
}

h3,
h4,
h5 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    color: white;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: lightblue;
}

.hurricane input {
    display: block;
    border-radius: 20px;
    border: 6px solid #ff58c4;
    text-align: center;
    margin: 50px auto 0 auto;
    padding: 80px 380px;
    background-image: url('../static/H-Ian.jpg');
    background-repeat: no-repeat;
    font-size: 2em;
    color: white;   
    cursor: pointer;
}

.hurricane input:hover {
    border: 6px solid lightblue;
}

.brazil input {
    border-radius: 20px;
    border: 6px solid #ff58c4;
    text-align: center; 
    margin: 50px auto 0 auto;
    padding: 80px 380px;
    background-image: url('../static/brazil-fire.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 2em;
    cursor: pointer;
    color: white; 
}

.brazil input:hover {
    border: 6px solid lightblue;
}


.flint input {
    border-radius: 20px;
    border: 6px solid #ff58c4;
    text-align: center; 
    margin: 50px auto 0 auto; 
    padding: 80px 300px;
    background-image: url('../static/flint.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 2em;
    cursor: pointer;
    color: white; 
}

.flint input:hover {
    border: 6px solid lightblue;
}


.empathy {
    background-color: #58b1ff;
    font-weight: 400;
    background-color: rgba(88,177,255, .4);
}

.bigThree {
    font-size: 60px;
    margin-top: 50px; 
    margin-left: 20px;
    margin-right: 20px;  
}