<html>
  <head>
	<link rel="stylesheet" href="../static/hurricane.css" />
  </head>
  <body>

    <h2>
		<div class="topnav">
			<ul>
				<form method="GET" action="/">
					<input type="image" src="../static/logo.png" name="logo-main" width="100" height="129"/>
				</form>
			</ul>
			<form method="POST" action="/volunteer" >
				<input type="submit" name="volunteer" value = "Volunteer" />
			</form>
			<form method="POST" action="/charities" >
				<input type="submit" name="charities" value = "Charities" />
			</form>
			<form method="POST" action="/log_in" >
				<input type="submit" name="log_in" value = "Log In" />
			</form>
			<form class="active" method="POST" action="/aboutUs" >
				<input type="submit" name="about" value = "About Us" />
			</form>
		</div>
	</h2>



    <link href="https://fonts.googleapis.com/css?family=BioRhyme" rel="stylesheet">

<div class="block">
  <div id="item">
    <div id="highlight"></div>
    <h1>Charities Supporting Hurricane Ian</h1>
    <div id="highlight1"></div>
    <h6>In the wake of the disastrous Hurricane Ian, the following charities have been working to help rebuild the communities impacted.</h6>
	<div class="topCharText">
		<h5><mark>Top Charities based on Accountability/Transparency Scores:</mark> </h5>
	</div>
  </div>
</div>



<div class="charityOne">
<form class="active" method="POST" action="/charityOne" >
	<input type="submit" name="charityOne" value = "GlobalGiving" />
</form>
</div>

<div class="charityTwo">
	<form class="active" method="POST" action="/charityTwo" >
		<input type="submit" name="charityTwo" value = "Salvation Army" />
	</form>
	</div>

	<div class="charityThree">
		<form class="active" method="POST" action="/charityThree" >
			<input type="submit" name="charityThree" value = "Save the Children" />
		</form>
		</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  </body>
</html>