<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="header-buttons">
      <form method="POST" action="/log_in">
        <input type="submit" name="log_in" value="Login" />
      </form>
      <form method="POST" action="/sign_up">
        <input type="submit" name="sign_up" value="Sign Up" />
      </form>
    </div>
    <h1>Welcome to Disaster Chari-tech.</h1>
    <h4>
      The one-stop shop for supporting charities for people struck by disaster.
    </h4>
  </body>
</html>
