<html>
  <head>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <h1 class="log-text">Log In</h1>
    <p>Please enter a user name and password.</p>
    <form method="POST" action="/log_in">
      <p class="text-log">
        Username: 
      <input class="log-input" type="text" name="user_name" />
      <br>
      Password:  <input class="log-input" type="text" name="password" />
      <br>
      <input class="log-button" type="submit" value="Login" />
      </p>
    </form>
    <form method = "POST" action="/sign_up">
      <p class="text-log">
        Need an account?
        <input class="small-button" type="submit" name="log_in" value="Create Account" />
            </p>
    </form>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <b>{{message}}</b>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
