<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>This is the login page.</h1>
    <p>Please enter a user name and password.</p>
    <form method="POST" action="/log_in">
      <p>
        Username: 
      <input type="text" name="user_name" />
      <br>
      Password: <input type="text" name="password" />
      <input type="submit" value="Login" />
      </p>
    </form>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <b>{{message}}</b>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
