<html>
  <head>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <link rel="stylesheet" href="../static/charities.css" />
    <h2>
      <div class="topnav">
          <ul>
              <p onclick="window.location.href='main.html';" style="text-align:center" class="btn"><img src="../static/logo.png" id="logo1" alt="logo1" style="width:100px; height:100px"></p>
          </ul>
          <form method="GET" action="/volunteer" >
              <input type="submit" name="volunteer" value = "Volunteer" />
          </form>
          <form method="GET" action="/charities" >
              <input type="submit" name="charities" value = "Charities" />
          </form>
          <form method="GET" action="/log_in" >
              <input type="submit" name="log_in" value = "Log In" />
          </form>
          <form class="active" method="POST" action="/aboutUs" >
              <input type="submit" name="about" value = "About Us" />
          </form>
      </div>
  </h2>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block body %}{% endblock %}
    <br>
    <br>
    <h1 class="text-log">Log In</h1>
    <p class="text-log" >Please enter a user name and password.</p>
    <form method="POST" action="/logged_in">
      <p class="text-log">
        Username: 
      <input class="log-input" type="text" name="user_name" />
      <br>
      Password:  <input class="log-input" type="text" name="password" />
      <br>
      <input class="log-button" type="submit" value="Login" />
      </p>
    </form>
    <form method = "GET" action="/sign_up">
      <p class="text-log">
        Need an account?
        <input class="small-button" type="submit" name="log_in" value="Create Account" />
            </p>
    </form>
  </body>
</html>
