<html>
  <head>
	<link rel="stylesheet" href="../static/main.css" />
  </head>
  <body>

    <h2>
		<div class="topnav">
			<ul>
				<p onclick="window.location.href='main.html';"  class="btn"><img src="../static/logo.png" id="logo1" alt="logo1" style="width:100px; height:100px"></p>
			</ul>
			<form method="POST" action="/volunteer" >
				<input type="submit" name="volunteer" value = "Volunteer" />
			</form>
			<form method="POST" action="/charities" >
				<input type="submit" name="charities" value = "Charities" />
			</form>
			<form method="GET" action="/log_in" >
				<input type="submit" name="log_in" value = "Log In" />
			</form>
			<form class="active" method="POST" action="/aboutUs" >
				<input type="submit" name="about" value = "About Us" />
			</form>
		</div>
	</h2>


	<img src="../static/logo.png" alt="Chari-tech logo" style="width:200px;height:250px;">
    <link href="https://fonts.googleapis.com/css?family=BioRhyme" rel="stylesheet">

<div class="block">
  <div id="item">
    <div id="highlight"></div>
    <h1 class="title" style="color: aliceblue"> Welcome to Disaster Chari-tech. </h1>
    <div id="highlight1"></div>
    <h6>The one-stop shop for supporting charities for people struck by disaster.</h6>
  </div>
</div>

<div class="bigThree">
	<br>
	<span class="empathy" >  EMPATHY - </span>
	<span class="empathy">  TRANSPARENCY - </span>
	<span class="empathy" >  IMPACT   </span>
</div>

<div class="hurricane">
<form class="active" method="POST" action="/hurricane" >
	<input type="submit" name="hurricane" value = "Hurricane Ian" />
</form>
</div>

<div class="brazil">
	<form class="active" method="POST" action="/brazil" >
		<input type="submit" name="brazil" value = "Brazil Wildfires" />
	</form>
	</div>

	<div class="flint">
		<form class="active" method="POST" action="/flint" >
			<input type="submit" name="flint" value = "Flint, Michigan Water Crisis" />
		</form>
		</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  </body>
</html>